<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>write</title>
  
<style>


.textarea {
width:100%;
height:600px;
}

.replyBody {
width:100%;
}

.reBtnBody {
padding-top:45px;
float:right;
}

.replyBtn {
font-size:8px;
}

.replyContent{
width:100%;
height:100px;
margin-top:20px;
}

.insertReply {
font-size:8px;
}

#subject {
border-right:none;
}

#substance {
border:none;
width:100%;
}

.buttonGather {
float:right;
}



.hitCount {
width:30%;
float:left;
}

.replyCount {
width:10%;
float:left;
}

.replyHeader{
width:100%;
margin-bottom:50px;
}

.contentBody {
margin-bottom:15px;
padding-bottom:15px;
/* border-bottom:1px solid; */
}

#replyList {
width:100%;
background-color : #f7f7f7;
}

.reTime {
font-size : 8px;
width:12%;
float:left;
padding:10px;
}

.reId {
font-weight: bold;
width:10%;
float:left;
padding:10px;
}

.reBody {
width:93%;
padding:10px;

}

.reBodyText {
width:93%;
padding:10px;

}

.goReply {
padding:10px;
}

.reHead {
padding-bottom:10px;
}

/* .rereBox {
display:none;
} */

 .contentBody {
padding-left:30px;
} 

.replyUpdateBtn, .replyDeleteBtn {
padding-left : 10px;
}

</style>
  
</head>

<body>

 
   <div layout:fragment="content">     <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 text-center">YSH의 게시판</h1>
          <p class="mb-4 text-center">나의 목표는 ㅋㅊㅂ</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">YSH의 게시판</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
   
          <div>게시판</div> 
          <input id = "boardNo" name = "boardNo" type = "text" style = "display:none" th:value = "${board.boardNo}">
            <table class="table table-bordered" id="dataTable" style = "width:100%">
      
            <tr>
                <th id = "subject">게시판분류 </th>
                <td th:text = "${board.boardType}"></td>      
            </tr>
               
            <tr>
                <th id = "subject">제목 </th>
                <td th:text = "${board.title}"></td>
            </tr>
            
            <tr>
                <td class = "textarea" colspan = "2" th:text="${board.content}"></td>
            </tr>

            <tr>
                <td colspan="2">
                   <div class = "buttonGather">    
                    <button type = "button" id = "backList">목록으로</button>  
                    <button type = "button" id = "modifyPosting">수정</button>
                    <button type = "button" id = "deletePosting">삭제</button>
                    </div>
                </td>
            </tr>
            
                </table>
            
            <div class="replyHeader" >
            
            <div class = "replyCount">
            <span>댓글</span>
            <span id = "reCount" th:text="${replyCount}"></span>
            </div>
            
            <div class = "hitCount">
            <span>조회수</span>
            <span th:text = "${board.hit}"></span>
            </div> 
            
              </div>
              
          
                <div class = "reply">
              
              <div id ="replyList">
          
               
               </div>
                                   
                    <form id = "reply" action = "/" method = "post" >
                    <div class = "replyBody">
<!--                     <input id = "member" name = "member" style = "display:none"> -->
                    <textarea id = "replyContent" class = "replyContent" cols="10" placeholder="내용을 입력하세요. " name="replyContent" form = "addReply"></textarea>
                    </div>
                  </form>
                  
                   <div class = "buttonGather">    
                    <button type = "button" class = "insertReply" id = "insertReply">등록</button>  
                    </div>
               
            </div>
 
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <th:block layout:fragment="script">
  <script th:inline = "javascript" th:src="@{'/js/reply.js'}"></script>
  <script th:inline = "javascript">
  
     var listLength = 0;
     var rereBoxStyle = new Array();
     var re_or_rere = 0;   // 초기값은 0, 페이지 첫 이동 또는 새로고침될 때는 0으로 두어 댓글리스트를 재정리한다. 1일경우 (댓글 또는 대댓글 등록)는 추가된 댓글만 리스트에 추가함.
     function printList(list) {
          
        var str = "";
        var replyObj;
        var standard = 0;
        var rerePlyer;
        
        rereBoxStyle = new Array();   // 새로운 댓글이 초기화 되었기 때문에 재정렬을 위해 배열 초기화
        listLength = 0;   // rereBoxStyle을 초기화 하기 때문에 listLength도 초기화.
//        alert("list.length: " + list.length);
        
        
        for(var i = 0; i < list.length; i++) {
           replyObj = list[i];
        var reply_time = replyObj.replyDate;
        
        rerePlyer = replyObj.member.memberId;
        
/*         if (replyObj.depth==1 && re_or_rere == 0) {
           rereBoxStyle.push(listLength);
           rerePlyer = " ↳ " + replyObj.member.memberId;
        } else if (listLength == list.length && re_or_rere == 1) {
           rereBoxStyle.push(listLength);
        } */
        
        if (replyObj.depth==1) {
           rereBoxStyle.push(listLength);
           rerePlyer = " ↳ " + replyObj.member.memberId;
        } else if (replyObj.depth==0) {
           parentReplyCount++;
        }
        
           str += "<div class = 'parentReply'>"+
           "<div id = 'reContent" + i +"'>" +
           "<div class = 'reHead'><div class = 'reId'>" + rerePlyer + "</div>" +
           "<div class = 'reTime'>" + getTimeStamp(reply_time) + "</div>" +
           "<div class = 'goReply'>" + 
           "<a id = 'writeRere" + i + "' href = 'javascript:openReply(" + listLength + ")'>답글</a>" +
           "<a class = 'replyUpdateBtn' href = 'javascript:updateReply(" + JSON.stringify(list[i]) + "," + i + ")' >수정</a>" +
           "<a class = 'replyUpdateBtn'>삭제</a>" +      
           "</div>" + 
           "</div>" +
        
           "<div class = 'contentBody'>" + "<div class = 'reContent' colspan='3'>" + replyObj.replyContent + 
           "<div class = 'reBody' id = 'rereBox" +listLength+ "' style = 'display:none;'>" + 
           "<div><textarea class = 'reBodyText' cols='10' placeholder = '내용을 입력하세요.' name = 'reReplyContent' id = 'reReplyContent" + i + "' form = 'addReply'></textarea>" + 
           "<div class = 'reBtnBody'>" + 
           "<button class = 'replyBtn' type = 'button'><a href = 'javascript:insertReReply(" + JSON.stringify(list[i]) + "," + i +")'>등록</a></button>" +
          																			 // JSON.stringify(list[i]) = list[i]는 객체를 json형태로 형변환 하여 매개변수로 담아 보냄. 그냥 객체로 보내면 object 뭐시기 에러..

           "</div>" +                                                                 
           "</div>" +
           
           "</div>" +
           "<hr/>" +
  
           "</div></div></div></div>"
           
           
           listLength++;
        } 
        
/*         if (replyObj.depth==1 &&  re_or_rere == 1) {
           rereBoxStyle.push(listLength+1);
        } */
        
        $('#replyList').html(str);   
        $('#reCount').text(list.length);   // 댓글갯수count
        
        alert("rereBoxStyle.length: " + rereBoxStyle.length);
        for(var i = 0; i < rereBoxStyle.length; i++) {
//           alert("하고있니?");
           $('#reContent'+rereBoxStyle[i]).css("margin-left","50px");
           $('#writeRere'+rereBoxStyle[i]).css("visibility","hidden");
        }
        
/*         for (var i = 1; i <= parentReplyCount; i++) {
           $('.parentReply'+i).css("border-bottom","1px solid");
//           $('.parentReply'+i).css("margin-left","50px");
        } */
        
//        $('#reContent0').css("margin-left","50px");
     }
     

     
     function getTimeStamp(reply_time) {
      
        var replyDate = new Date(reply_time);
        
        var s =
          leadingZeros(replyDate.getFullYear(), 4) + '-' +
          leadingZeros(replyDate.getMonth() + 1, 2) + '-' +
          leadingZeros(replyDate.getDate(), 2) + ' ' +

          leadingZeros(replyDate.getHours(), 2) + ':' +
          leadingZeros(replyDate.getMinutes(), 2) + ':' +
          leadingZeros(replyDate.getSeconds(), 2);

        return s;
      }

      function leadingZeros(n, digits) {
        var zero = '';
        n = n.toString();

        if (n.length < digits) {
          for (i = 0; i < digits - n.length; i++)
            zero += '0';
        }
        return zero + n;
      }
     
     
  $(document).ready(function(e){   
     
     (function getAllReplies() {
        replyManager.getAll([[${board.boardNo}]], printList)
     })();     
     
  
     var inputList = $('.substance');
     var boardNo = "";

     $('#modifyPosting').click(function(){
         alert("글수정");
         boardNo = $('#boardNo').val();
         window.location.href = '/ysh/modifyPosting?boardNo='+boardNo;       
        //글 수정창으로 이동.
     });
     
     $('#backList').click(function(){
        alert("목록으로");
        window.location.href = '/ysh/yshBoard';
     });
     
     $('#deletePosting').click(function(){
        alert("글삭제");     
        boardNo = $('#boardNo').val();
        window.location.href = '/ysh/deletePosting?boardNo=' + boardNo;
      // 글 삭제.
     });  
     
     $('#typeSelect').change(function(){
        $('#boardType').prop('value', $("#typeSelect option:selected").val());
     });
     

     
// 댓글작성.     
     var boardNo = [[${board.boardNo}]];
//     var replyerObj = $('#member');
     var replyContentObj = $('#replyContent');
     
     $('#insertReply').click(function(){

    	 
//           var replyer = replyerObj.val();
           var replyContent = replyContentObj.val();
           alert("보드넘버: " + boardNo);
//           var obj = {replyContent:replyContent, replyer:replyer, boardNo:boardNo};
           var obj = {replyContent:replyContent, boardNo:boardNo, depth:0};
           
           console.log(obj);
           replyManager.add(obj, function(list){
              printList(list);
              alert('댓글추가.');
//              replyerObj.val("");
              replyContentObj.val("");   
              re_or_rere = 1;
         
           });
       
     });
       
    
});

// 답글창 열기
   function openReply(listLength2) {
      
	for(var i = 0; i < $('.reBody').length; i++) {
          $('.reBody').eq(i).css("display","none");   
      }       
         $('#rereBox'+listLength2).css("display", "block");       
   }
   
// 답글창 수정
   function updateReply(replyObj, num) {
  
      for(var i = 0; i < $('.reBody').length; i++) {
         $('.reBody').eq(i).css("display","none");   
     }       
         $('#rereBox'+num).css("display", "block");  
                  
         $('#reReplyContent'+num).text(replyObj.replyContent);
         
          var obj = {replyContent:replyObj.replyContent, boardNo:replyObj.board.boardNo, replyNo:replyObj.replyNo};
		  replyManager.update(obj, function(list){
			 alert("댓글수정완료");
			 replyManager.getAll([[${board.boardNo}]], printList);
		  }); 
}
   
   var parentReplyCount = 0;
   
   var reReplyContentObj;
    function insertReReply(replyObj2, num) {
 
      // 매개변수 replyObj2
      console.log(replyObj2.board.boardNo);
      console.log(replyObj2.replyNo);
      console.log(replyObj2.replyContent);
      console.log(replyObj2.member.memberId); 
      
      replyObj2.replyContent = $('#reReplyContent'+num).val();
     
      console.log("대댓글:" + replyObj2.replyContent);
      
           var obj = {replyContent:replyObj2.replyContent, boardNo:replyObj2.board.boardNo, depth:1, replyNo:replyObj2.replyNo};
           
           console.log(obj);
           replyManager.add(obj, function(list){
              printList(list);
              alert('대댓글추가.');  
              re_or_rere = 1;
         
           });
      /*  */
      
      
/*       $.ajax({
         type : 'post',
         url  : '/reply/re/' + replyObj2.board.boardNo,
         data : JSON.stringify(replyObj2),
         dataType : 'json',
         contentType : "application/json",
         success : function(boardreplylist) {
               
              replyManager.getAll([[${board.boardNo}]], printList);
              alert("발동!");
              re_or_rere = 1;
         }
      });  */
      
   
   } 
    
    

  
  </script>
</th:block>
  
  
  </div>
</body>


 


</html>