<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorator="layout/default">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>yshList</title>
  
  <style>
  #writePosting {
  float:right;
  }
  </style>
  
</head>

<body>

 
   <div layout:fragment="content">     <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 text-center">YSH의 게시판</h1>
          <p class="mb-4 text-center">나의 목표는 ㅋㅊㅂ</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">YSH의 게시판</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>type</th>
                      <th>writer</th>
                      <th>title</th>
                      <th>writeDate</th>
                      <th>hit</th>
                    </tr>
                    
					<tr th:each = "boardlist : ${boardlist}">
                      <th th:text = "${boardlist.boardType}"></th>
                      <th th:text = "${boardlist.member.memberId}"></th>
                      <th><a th:text = "${boardlist.title} + ' ['+${boardlist.replyCount + ']'}" th:href = "@{'/ysh/readPosting'(boardNo=${boardlist.boardNo})}"></a></th>
<!--                       <td><a th:href="@{'/member/inquery'(id=${member.id})}"><p th:text = "${member.id}"></p></a></td> -->
                      <th th:text = "${boardlist.writeDate}"></th>
                      <th th:text = "${boardlist.hit}"></th>
                    </tr>
                    
                  </thead>

                </table>
		 <div>
         <button id = "writePosting" >글쓰기</button>
         </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script>
  $(document).ready(function(){  
  
  $('#writePosting').click(function(){
	  window.location.href = '/ysh/writePosting';
  });
  
  });

  </script>
  
  
  </div>
</body>


 


</html>