<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorator="layout/default">

<div layout:fragment="content">
<body>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800 text-center">Ash의 게시판</h1>
          <p class="mb-4 text-center">환상적인 게시판 세계에 오신 것을 환영해</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Ash의 게시판</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  
                  <thead>
                    <tr class="lead">
                      <th>제목</th>
                      <th>닉네임</th>
                      <th>작성일</th>
                      <th>조회수</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <tr th:each="list:${list}">
                      <td ><a th:href="@{'/ash/readForm?boardNo='+${list.boardNo}}" th:text="${list.title}"></a></td>
                      <td th:text="${list.member.memberId}"></td>
                      <td th:text="${list.writeDate}"></td>
                      <td th:text="${list.hit}"></td>
                    </tr>
                  </tbody>
                  
                </table>
              </div>
            </div>
          </div>
          <button><a href="writeForm">글쓰기</button>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
</div>
</html>